<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <main class="correccionTamanioCarrito">
      <div class="CarritoProductoPrincipal">
        <div class="ticketIcon"><i class="fa-solid fa-ticket"></i></div>
        <div class="divCarrito">
          <p class="tituloCarritoTitulo">Evento</p>
        </div>
        <div class="divCarrito">
          <p class="CantidadCarritoTitulo">Cantidad</p>
        </div>
        <div class="divCarrito">
          <p class="precioCarritoTitulo">Precio</p>
        </div>
        <div class="divCarrito">
          <p class="DiaCarritoTitulo">Dia</p>
        </div>
      </div>
      <br />
      <% for (let i = 0; i < carritoArray.length; i++) { %> <% const data =
      eventoArray.find(evento => evento.id == carritoArray[i].evento_id) %>
      <div class="CarritoProductoPrincipal">
        <% if (carritoArray[i].activo == true) { %>
        <div class="ticketIconComprado"><i class="fa-solid fa-ticket"></i></div>
        <% }else{ %> 
          <div class="ticketIconNoComprado"><i class="fa-solid fa-ticket"></i></div>
        <% } %>
        <div class="divCarrito">
          <p class="tituloCarritoTitulo"><%= data.nombre_evento %></p>
        </div>
        <div class="divCarrito">
          <p class="CantidadCarritoTitulo"><%= carritoArray[i].cantidad %></p>
        </div>
        <div class="divCarrito">
          <p class="precioCarritoTitulo"><%= data.precio %>$</p>
        </div>
        <div class="divCarrito">
          <p class="DiaCarritoTitulo"><%= data.fecha %></p>
        </div>
      </div>
      <% } %>

      <!-- ------------------------------- -->
      <div class="botomBarCarrito">
        <div>
          <button class="botonAddCarrito">
            <a href="/producto/catalogo"><i class="fa-solid fa-plus"></i></a>
          </button>
        </div>
       
        <div>
          <form
            action="/producto/carrito/<%= userDetail.id %>?_method=DELETE"
            method="POST"
          >
            <button class="botonBorrarCarritoRealizado">
              <i class="fa-solid fa-trash"></i>
            </button>
          </form>
        </div>
        <div>
          <form
            action="/producto/carrito/realizado/<%= userDetail.id %>?_method=DELETE"
            method="POST"
          >
            <button class="botonBorrarCarrito">
              <i class="fa-solid fa-trash"></i>
            </button>
          </form>
        </div>
      </div>
      <div class="divCompra">
          <form action="/producto/carrito/<%= userDetail.id %>?_method=PUT" method="POST">
            <button class="botonCompraCarrito">Comprar</button>
          </form>
        </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
