<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <main>
      <!-------------------------PRIMERO----------- -->
      <div class="positionBoton">
        <button class="botonCreacion"><a href="/administrador/creacion">Crear evento <i class="fa-solid fa-upload"></i></a></button>
      </div>
      <h2 class="titulosCategoria">ACTUALES</h2>
      <div class="cajaCategoria">
        <% products.filter(product => product.Categoria == 'Actuales').forEach(product => { %>
        <div class="card">
          <img
            src="/imagenes/catalogo/<%= product.fotoEvento ? product.fotoEvento : 'not-Img.jpg'%>"
            class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="card-title"><%= product.Nombre%></h5>
            <p class="card-text"><%= product.Sede%></p>
            <p class="card-text"><%= product.Ubicacion%></p>
            <p class="card-text">Participacion: <%= product.Participacion%></p>
            <p class="card-text card-date"><%= product.Dia%></p>
            <a href="/producto/detalles/<%= product.id%>" class="btn btn-primary"
              >Ir a detalles</a
            >
          </div>
        </div>
        <% }) %>
      </div>
      <!-------------------------SEGUNDO----------- -->
      <h2 class="titulosCategoria">NUEVOS</h2>
      <div class="cajaCategoria">
        <% products.filter(product => product.Categoria == 'Nuevos').forEach(product => { %>
          <div class="card">
            <img
              src="/imagenes/catalogo/<%= product.fotoEvento ? product.fotoEvento : 'not-Img.jpg'%>"
              class="card-img-top"
              alt="ImgBand"
            />
            <div class="card-body">
              <h5 class="card-title"><%= product.Nombre%></h5>
              <p class="card-text"><%= product.Sede%></p>
              <p class="card-text"><%= product.Ubicacion%></p>
              <p class="card-text">Participacion: <%= product.Participacion%></p>
              <p class="card-text card-date"><%= product.Dia%></p>
              <a href="/producto/detalles/<%= product.id %>" class="btn btn-primary"
                >Ir a detalles</a
              >
            </div>
          </div>
          <% }) %>
          <% products.filter(product => product.Categoria == '-').forEach(product => { %>
            <div class="card">
              <img
                src="/imagenes/catalogo/<%= product.fotoEvento ? product.fotoEvento : 'not-Img.jpg'%>"
                class="card-img-top"
                alt="ImgBand"
              />
              <div class="card-body">
                <h5 class="card-title"><%= product.Nombre%></h5>
                <p class="card-text"><%= product.Sede%></p>
                <p class="card-text"><%= product.Ubicacion%></p>
                <p class="card-text"><%= product.Participacion%></p>
                <p class="card-text card-date"><%= product.Dia%></p>
              </div>
            </div>
            <% }) %>
      </div>
      <!-------------------------TERCERO----------- -->
      <h2 class="titulosCategoria">PROXIMAMENTE</h2>
      <div class="cajaCategoria">
        <% products.filter(product => product.Categoria == 'Proximamente').forEach(product => { %>
        <div class="card">
          <img
            src="/imagenes/catalogo/<%= product.fotoEvento ? product.fotoEvento : 'not-Img.jpg'%>"
            class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="card-title"><%= product.Nombre%></h5>
            <p class="card-text"><%= product.Sede%></p>
            <p class="card-text"><%= product.Ubicacion%></p>
            <p class="card-text">Participacion: <%= product.Participacion%></p>
            <p class="card-text card-date"><%= product.Dia%></p>
            <a href="/producto/detalles/<%= product.id %>" class="btn btn-primary"
              >Ir a detalles</a
            >
          </div>
        </div>
        <% }) %>
      </div>
      <!-------------------------CUARTO----------- -->
      <h2 class="titulosCategoria">PASADOS</h2>
      <div class="cajaCategoria">
        <% products.filter(product => product.Categoria == 'Pasados').forEach(product => { %>
        <div class="card">
          <img
            src="/imagenes/catalogo/<%= product.fotoEvento ? product.fotoEvento : 'not-Img.jpg'%>"
            class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="card-title"><%= product.Nombre%></h5>
            <p class="card-text"><%= product.Sede%></p>
            <p class="card-text"><%= product.Ubicacion%></p>
            <p class="card-text card-date"><%= product.Dia%></p>
          </div>
        </div>
        <% }) %>
      </div>
      <!-------------------------QUINTO----------- -->
      <h2 class="titulosCategoria">SPONSOR</h2>
      <div class="cajaCategoria">
        <div class="card">
          <img
            src="/imagenes/catalogo/Sponsor/Coca.jpg"
            class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="SponsorHREF">
              <a href="https://www.coca-cola.com.ar">Coca Cola</a>
            </h5>
            <p class="card-text">Acompa単andonos Siempre</p>
            <p class="card-text card-date">Tel:2525 23552</p>
          </div>
        </div>
        <div class="card">
          <img
            src="/imagenes/catalogo/Sponsor/Samsung.jpg"
            class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="SponsorHREF">
              <a href="https://www.samsung.com">Samsung</a>
            </h5>
            <p class="card-text">Acompa単andonos Siempre</p>
            <p class="card-text card-date">Tel:2525 23552</p>
          </div>
        </div>
        <div class="card">
          <img
            src="/imagenes/catalogo/Sponsor/Toyota.jpg"
            class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="SponsorHREF">
              <a href="https://www.toyota.com.ar">Toyota</a>
            </h5>
            <p class="card-text">Acompa単andonos Siempre</p>
            <p class="card-text card-date">Tel:2525 23552</p>
          </div>
        </div>
        <div class="card">
          <img
            src="/imagenes/catalogo/Sponsor/Visa.jpg"
            class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="SponsorHREF">
              <a href="https://www.visa.com.ar">Visa</a>
            </h5>
            <p class="card-text">Acompa単andonos Siempre</p>
            <p class="card-text card-date">Tel:2525 23552</p>
          </div>
        </div>
      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
