<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <div class="divParaGradiant"></div>
    <main class="mainRegister">
      <form
        class="formularioAdmin" id="myFormProduct"
        onsubmit='return validateForm()' 
        action="/administrador"
        method="POST"
        enctype="multipart/form-data"
        class="form-box"
      >
        <h1 class="form-title">Creacion De Evento</h1>
        <div class="cajaAdmin">
          <label for="Nombre"></label>
          <input
            class="cajaAdminImput <%= locals.errors && errors.nombre_evento ? 'errorBorderAdmin' : null %>"
            type="text"
            name="nombre_evento"
            placeholder="Nombre del Evento"
            value="<%= locals.oldData ? oldData.nombre_evento : null %>"
          />
          <div class="errorTxtNombreEvento"></div>
          <% if (locals.errors && errors.nombre_evento) { %>
          <div class="errorTxt"><%= errors.nombre_evento.msg %></div>
          <% } %>
        </div>
        <div class="cajaAdmin">
          <label for="Dia"></label>
          <input
            class="cajaAdminImput <%= locals.errors && errors.fecha ? 'errorBorderAdmin' : null %>"
            type="date"
            name="fecha"
            value="<%= locals.oldData ? oldData.fecha : null %>"
          />
          <div class="errorTxtFecha"></div>
          <% if (locals.errors && errors.fecha) { %>
          <div class="errorTxt"><%= errors.fecha.msg %></div>
          <% } %>
        </div>
        <div class="cajaAdmin">
          <label for="Ubicacion"></label>
          <input
            class="cajaAdminImput <%= locals.errors && errors.ubicacion ? 'errorBorderAdmin' : null %>"
            type="text"
            name="ubicacion"
            placeholder="Ubicacion"
            value="<%= locals.oldData ? oldData.ubicacion : null %>"
          />
          <div class="errorTxtUbicacion"></div>
          <% if (locals.errors && errors.ubicacion) { %>
          <div class="errorTxt"><%= errors.ubicacion.msg %></div>
          <% } %>
        </div>
        <div class="cajaAdmin">
          <label for="Sede"></label>
          <input
            class="cajaAdminImput <%= locals.errors && errors.sede ? 'errorBorderAdmin' : null %>"
            type="text"
            name="sede"
            placeholder="Sede"
            value="<%= locals.oldData ? oldData.sede : null %>"
          />
          <div class="errorTxtSede"></div>
          <% if (locals.errors && errors.sede) { %>
          <div class="errorTxt"><%= errors.sede.msg %></div>
          <% } %>
        </div>
        <div class="cajaAdmin">
          <label for="Participacion"></label>
          <input
            class="cajaAdminImput <%= locals.errors && errors.participacion ? 'errorBorderAdmin' : null %>"
            type="text"
            name="participacion"
            placeholder="Participacion especial"
            value="<%= locals.oldData ? oldData.participacion : null %>"
          />
          <div class="errorTxtParticipacion"></div>
          <% if (locals.errors && errors.participacion) { %>
          <div class="errorTxt"><%= errors.participacion.msg %></div>
          <% } %>
        </div>
        <div class="cajaAdmin">
          <label for="Capacidad"></label>
          <input
            class="cajaAdminImput <%= locals.errors && errors.capacidad_sede ? 'errorBorderAdmin' : null %>"
            type="number"
            min="0"
            name="capacidad_sede"
            placeholder="Capacidad de la sede"
            value="<%= locals.oldData ? oldData.capacidad_sede : null %>"
          />
          <div class="errorTxtCapacidad"></div>
          <% if (locals.errors && errors.capacidad_sede) { %>
          <div class="errorTxt"><%= errors.capacidad_sede.msg %></div>
          <% } %>
        </div>
        <div class="cajaAdmin">
          <label for="Price"></label>
          <input
            class="cajaAdminImput <%= locals.errors && errors.precio ? 'errorBorderAdmin' : null %>"
            type="number"
            min="0"
            name="precio"
            placeholder="Inserte Un Precio $$$"
            value="<%= locals.oldData ? oldData.precio : null %>"
          />
          <div class="errorTxtPrecio"></div>
          <% if (locals.errors && errors.precio) { %>
          <div class="errorTxt"><%= errors.precio.msg %></div>
          <% } %>
        </div>
        <div class="cajaAdmin">
          <label for="Horario"></label>
          <!-- revisar number por date -->
          <input
            class="cajaAdminImput <%= locals.errors && errors.horario ? 'errorBorderAdmin' : null %>"
            type="time"
            min="0"
            name="horario"
            placeholder="Inserte un horario"
            value="<%= locals.oldData ? oldData.horario : null %>"
          />
          <div class="errorTxtHorario"></div>
          <% if (locals.errors && errors.horario) { %>
          <div class="errorTxt"><%= errors.horario.msg %></div>
          <% } %>
        </div>
        <div class="cajaAdmin">
          <label for="Categoria">Categoria</label>
          <select
            class="opcionesCategoria <%= locals.errors && errors.id_categoria ? 'errorBorderAdmin' : null %>"
            name="id_categoria"
          >
            <option value="">Seleccione</option>
            <option value="1"<%= locals.oldData && oldData.id_categoria == "1" ?'selected' : null %>>Actuales</option>
            <option value="2"<%= locals.oldData && oldData.id_categoria == "2" ?'selected' : null %>>Nuevos</option>
            <option value="3"<%= locals.oldData && oldData.id_categoria == "3" ?'selected' : null %>>Proximos</option>
          </select>
          <div class="errorTxtCategoria"></div>
          <% if (locals.errors && errors.id_categoria) { %>
          <div class="errorTxt"><%= errors.id_categoria.msg %></div>
          <% } %>
        </div>
        <label class="colorCase" for="evento_id">Genero del Evento</label>
        <div class="categoriasCheckbox">
            <label><input type="checkbox" name="evento_id" value="1" <%= locals.oldData && oldData.evento_id =='1' ? 'checked' : null %> >Rock</label>
            <label><input type="checkbox" name="evento_id" value="2" <%= locals.oldData && oldData.evento_id =='2' ? 'checked' : null %> >Hard Rock</label>
            <label><input type="checkbox" name="evento_id" value="3" <%= locals.oldData && oldData.evento_id =='3' ? 'checked' : null %> >Pop</label>
            <label><input type="checkbox" name="evento_id" value="4" <%= locals.oldData && oldData.evento_id =='4' ? 'checked' : null %> >Rock Alternativo</label>
            <label><input type="checkbox" name="evento_id" value="5" <%= locals.oldData && oldData.evento_id =='5' ? 'checked' : null %> >Pop Rock</label>
            <label><input type="checkbox" name="evento_id" value="6" <%= locals.oldData && oldData.evento_id =='6' ? 'checked' : null %> >Pop Punk</label>
        </div>
        <div class="errorTxtGeneroEvento"></div>
        <div class="textAviso"></div>
        <% if (locals.errors && errors.evento_id) { %>
        <div class="errorTxt"><%= errors.evento_id.msg %></div>
        <% } %>
        <div class="cajaAdmin">
          <label for="Descripcion-Evento">Descripcion del Evento</label>
          <textarea
            class="textArea <%= locals.errors && errors.descripcion ? 'errorBorderAdmin' : null %>"
            name="descripcion"
            placeholder="Descripcion breve del evento y/o sobre el show principal"
          ><%= locals.oldData ? oldData.descripcion  : null %></textarea>
          <div class="errorTxtDescripcionEvento"></div>
          <% if (locals.errors && errors.descripcion) { %>
          <div class="errorTxt"><%= errors.descripcion.msg %></div>
          <% } %>
        </div>
        <div class="cajaAdmin">
          <label for="Biografia">Biografia Breve</label>
          <textarea
            class="textArea <%= locals.errors && errors.biografia ? 'errorBorderAdmin' : null %>"
            name="biografia"
            placeholder="Descripcion breve de la biografia de la banda/evento"
          ><%= locals.oldData ? oldData.biografia  : null %></textarea>
          <div class="errorTxtBiografia"></div>
          <% if (locals.errors && errors.biografia) { %>
          <div class="errorTxt"><%= errors.biografia.msg %></div>
          <% } %>
        </div>
        <div class="cajaAdmin">
          <label for="fotoEvento">
            <div class="label">Seleccione Foto de Evento</div>
            <div class="fotoEventoAdmin">
              <input
                class="borderFotoEvento <%= locals.errors && errors.foto_evento ? 'errorBorderAdmin' : null %>"
                type="file"
                name="foto_evento"
              />
            </div>
            <div class="errorTxtFotoEvento"></div>
            <% if (locals.errors && errors.foto_evento) { %>
            <div class="errorTxt"><%= errors.foto_evento.msg %></div>
            <% } %>
          </label>
        </div>
        <div class="avisoErrorTxt"></div>
        <div class="cajaAdminSend">
          <button type="submit">Enviar</button>
        </div>
        <div class="cajaAdminSend">
          <button type="reset"><h6>Borrar</h6></button>
        </div>
      </form>
      <script src="/js/creacionProducto.js"></script>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
