<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <h2 class="nombreEvento1"><%= detalle.Nombre %> </h2>
        <div class="cajaDetalles">
                <div class="cajaImagen">
                    <img class="imgTicket" src="/imagenes/detallesProducto/ticket.jpg" alt="ticket">
                    <div class="cajaDescripcionBanda">
                    <p class="descripcionBanda"><%= detalle.Biografia %></p>
                </div>
            </div>
            <div class="cajaDescripcion">
            <div>
                <h2 class="nombreEvento2"><%= detalle.Nombre %></h2>
                <div class="cajaDatos">
                    <h3>Datos del Evento</h3>
                    <p>Ubicacion: <%= detalle.Ubicacion %>.</p>
                    <p>Sede: <%= detalle.Sede %>.</p>
                    <p>Dia: <%= detalle.Dia %>.</p>
                    <p>Precio: <%= detalle.Price %>$.</p>
                    <p>Horario: <%= detalle.Horario %>hs.</p>
                    <p>Participacion <%= detalle.Participacion %>.</p>
                </div>
                <div class="subDescripcion">
                    <p><%= detalle.Descripcion %></p> 
                </div>
                <div class="cajaPago">
                    <div class="subCaja">
                        <div class="cajaCantidad">
                        </div>
                        <h4>Cantidad</h4>
                    </div>
                    <div class="subCaja">
                        <div class="cajaTotal"></div>
                        <h4>Total</h4>
                    </div>
                </div>
                <div>
                    <label class="positionCondiciones"><input type="checkbox" name="terminos" value="terminos">He leido y acepto los "<a href="/">Terminos y Condiciones</a>"</label>
                </div>
                <button class="botonPago" type="submit"><a href="/">Continuar a metodo de pago</a></button>
                <div >
                    <form action="/administrador/<%= detalle.id %>?_method=DELETE" method="POST" >
                        <input type="submit" value="Eliminar"> 
                        <!-- <button class="botonBorrarCarrito"><i class="fa-solid fa-trash"></i></button> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="bannerFooter">
        <img src="/imagenes/DetallesProducto/BannerDetallesProducto.jpg" alt="bannerFooter">
    </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
