<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') %>
<body>
  <%- include('../partials/header') %>
    <main class="mainRegister">
        <form class="formularioAdmin" action="/administrador/<%= editarProducto.id %>?_method=PUT" class="form-box" enctype="multipart/form-data" method="POST">
            <h1 class="form-title">Edicion de Evento</h1>
            <div class="cajaAdmin">
                <label  for="Cambio-Evento">Evento</label>
                <input required type="text"  name="Nombre"  value="<%= editarProducto.Nombre %>">
            </div>
            <div class="cajaAdmin"> 
                <label  for="Cambio-Dia">Dia</label>
                <input required type="text" name="Dia" value="<%= editarProducto.Dia %>" >
            </div>
            <div class="cajaAdmin"> 
                <label  for="Cambio-Ubicacion">Ubicacion</label>
                <input required type="text" name="Ubicacion" value="<%= editarProducto.Ubicacion %>">
            </div>
            <div class="cajaAdmin"> 
                <label  for="Cambio-sede">Sede</label>
                <input required type="text" name="Sede" value="<%= editarProducto.Sede %>">
            </div>
            <div class="cajaAdmin"> 
                <label  for="Dato-Participacion">Participacion</label>
                <input required type="text" name="Participacion" value="<%= editarProducto.Participacion %>">
            </div>
            <div class="cajaAdmin"> 
                <label  for="Cambio-Dato-Capacidad">Capacidad</label>
                <input required type="text" name="Capacidad" value="<%= editarProducto.Capacidad %>">
            </div>
            <div class="cajaAdmin"> 
                <label  for="Cambio-Precio">Precio</label>
                <input required type="number" name="Price" value="<%= editarProducto.Price %>">
            </div>
            <div class="cajaAdmin"> 
                <label  for="Cambio-Horario">Horario</label>
                <input required type="text" name="Horario" value="<%= editarProducto.Horario %>">
            </div>
            <div class="cajaAdmin"> 
                <label  for="Cambio-Categoria">Categoria</label>
                <input required type="text" name="Categoria" value="<%= editarProducto.Categoria %>">
            </div>
            <div class="cajaAdmin">
                <label  for="Cambio-Descripcion-Evento">Descripcion del Evento</label>
                <textarea class="textArea" name="Descripcion" value="<%= editarProducto.Descripcion %>"></textarea>
            </div>
            <div class="cajaAdmin">
                <label   for="Cambio-Biografia-Evento">Biografia Breve</label>
                <textarea class="textArea" name="Biografia" value="<%= editarProducto.Biografia %>"></textarea>
            </div>
            <div class="cajaAdmin">
                <label  for="Cambio-ImgEvento">
                    <div class="label">Seleccione Foto de Evento</div>
                    <div class="fotoEventoAdmin"><input type="file" name="fotoEvento" value="<%= editarProducto.fotoEvento %>" accept=".jpg"></div>
                </label>
            </div>
            <div class="cajaAdminSend">
                <button type="submit" value="Editar">Enviar</button>
            </div>
            <div class="cajaAdminSend">
                <button type="reset"><h6>Borrar</h6></button>
            </div>
        </form>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>