<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <div class="divParaGradiant"></div>
    <main class="mainRegister">
      <form
        action="/usuario/perfil/edicion?_method=PUT"
        method="POST"
        class="form-box"
        enctype="multipart/form-data"
      >
        <h1 class="form-title">Edicion de Perfil</h1>
        <div class="correcionCajasForm">
          <label for="nombre"></label>
          <input
            class="cajaRegisterInput"
            type="text"
            name="nombre"
            value="<%= datosUsuario.nombre  %>"
          />
        </div>
        <div class="correcionCajasForm">
          <label for="nombre"></label>
          <input
            class="cajaRegisterInput"
            type="text"
            name="apellido"
            value="<%= datosUsuario.apellido  %>"
          />
        </div>
        <div class="correcionCajasForm">
          <label for="nombreUsuario"></label>
          <input
            class="cajaRegisterInput"
            type="text"
            name="nombre_usuario"
            value="<%= datosUsuario.nombre_usuario  %>"
          />
        </div>
        <div class="correcionCajasForm">
          <label for="pais"></label>
          <input
            class="cajaRegisterInput"
            type="text"
            name="pais"
            value="<%= datosUsuario.pais  %>"
          />
        </div>
        <div class="correcionCajasForm">
          <label class="tituloRegisterCaja" for="gustosUsuario"
            >Tu Gusto Favorito</label
          >
          <select class="opcionesRegister" name="genero_id_favorito">
            <option value="<%= datosUsuario.genero_id_favorito  %>">
              <%= datosUsuario.genero_id_favorito %>
            </option>
            <option value="1">Rock</option>
            <option value="2">Hard Rock</option>
            <option value="3">Pop</option>
            <option value="4">Rock Alternativo</option>
            <option value="5">Pop Rock</option>
            <option value="6">Pop Punk</option>
          </select>
        </div>
        <br>
        <div class="correcionCajasForm">
          <label class="tituloRegisterCaja" for="genero">Genero</label>
          <select class="opcionesRegister" name="genero">
            <option value="<%= datosUsuario.genero  %>">
              <%= datosUsuario.genero %>
            </option>
            <option value="masculino">Masculino</option>
            <option value="femenino">Femenino</option>
            <option value="otros">Otros</option>
          </select>
        </div>
        <div class="correcionCajasForm">
          <label for="infoUsuario" class="tituloRegisterCaja"
            >Cuentanos sobre ti</label>
          <textarea class="textAreaRegister" name="descripcion">
<%= datosUsuario.descripcion  %></textarea
          >
        </div>
        <div class="cajaAdmin">
          <label for="ImgEvento">
            <div class="label">Nueva foto de Perfil</div>
            <div>
              <input class="imagenPerfilRegister" type="file" name="foto_perfil" required />
            </div>
          </label>
        </div>
        <div class="cajaSendRegister">
          <button class="botonSumit" type="submit">Enviar</button>
        </div>
      </form>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
