<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <div class="divParaGradiant"></div>

    <main class="mainLogin">
      <form action="/usuario/login" method="POST" class="form-boxLogin">
        <h1 class="form-title">Ingresar</h1>
        <br />
        <% if (locals.errors && errors.email) { %>
        <div class="errorTxtLogin"><%= errors.email.msg %></div>
        <% } %>
        <div class="correcionCajasForm">
          <label for="email"></label>
          <input
            class="formsBoxLogin <%= locals.errors && errors.email ? 'errorBorderLogin' : null %>"
            type="email"
            name="email"
            placeholder="Su email"
          />
        </div>
        <div class="correcionCajasForm">
          <label for="contrasenia"></label>
          <input
            class="formsBoxLogin <%= locals.errors && errors.email ? 'errorBorderLogin' : null %>"
            type="password"
            name="contrasenia"
            placeholder="Contrase単a"
          />
        </div>
        <div>
          <input type="checkbox" name="recuerdame"/>
          <h4>Recuerdame</h4>
        </div>
        <div>
          <a href="/" class="recuperar-contrase単a">多Olvidaste tu Contrase単a?</a>
        </div>
        <div class="cajaSendLogin">
          <button class="formsBoxLogin" type="submit">Enviar</button>
        </div>
      </form>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
