<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <main class="mainPerfil">
      <div class="contenedorInfo">
        <div class="imgPerfil">
          <img src="/images/Usuarios/<%= usuarioLogeado.foto_perfil %>" />
        </div>
        <div class="infoNombre">
          <h3 class="nombrePerfil"><%= usuarioLogeado.nombre %> <%= usuarioLogeado.apellido %></h3>
          <h5 class="usuarioPerfil">@<%= usuarioLogeado.nombre_usuario %></h5>
          <div class="correcionPerfil">
            <h6 class="textPerfil">Estado Actual:</h6>
            <h6 class="textPerfil">Conectado</h6>
          </div>
        </div>
      </div>
      <div class="contenedorInfoFooter">
        <div class="infoBasica">
          <div>
            <h3>informacion basica</h3>
            <h5>Nombre:</h5>
            <p class="textP"><%= usuarioLogeado.nombre %></p>
            <h5>Gusto Favorito:</h5>
            <p id="textP">
              <% if (usuarioLogeado.gustosUsuario == 1) {%>
                rock
                <% } else if (usuarioLogeado.gustosUsuario == 2) { %>
                hard rock
                <% } else if (usuarioLogeado.gustosUsuario == 3) { %>
                pop
                <% } else if (usuarioLogeado.gustosUsuario == 4) { %>
                rock alternativo
                <% } else if (usuarioLogeado.gustosUsuario == 5) { %>
                pop rock
                <% } else { %>
                pop punk
                <% } %>
            </p>
          </div>
          <div>
            <h3>informacion Personal</h3>
            <h5>Pais:</h5>
            <p class="textP"><%= usuarioLogeado.pais %></p>
            <h5>Genero:</h5>
            <p class="textP"><%= usuarioLogeado.genero %></p>
            <h5>Sobre mi:</h5>
            <p class="textInfoPerfil"><%= usuarioLogeado.descripcion %></p>
          </div>
        </div>
      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
