<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <div class="divParaGradiant"></div>
    <main class="mainRegister">
      <form
        action="/usuario/register"
        method="POST"
        class="form-box"
        enctype="multipart/form-data"
      >
        <h1 class="form-title">Registro</h1>
        <div class="correcionCajasForm">
            <label for="nombre"></label>
            <input
                class="cajaRegisterInput <%= locals.errors && errors.nombre ? 'errorBorder' : null %>"
                type="text"
                name="nombre"
                placeholder="Nombre"
                value="<%= locals.oldData ? oldData.nombre : null %>"
            />
            <% if (locals.errors && errors.nombre) { %>
            <div class="errorTxt"><%= errors.nombre.msg %></div>
            <% } %>
        </div>
        <div class="correcionCajasForm">
            <label for="apellido"></label>
            <input
                class="cajaRegisterInput <%= locals.errors && errors.apellido ? 'errorBorder' : null %>"
                type="text"
                name="apellido"
                placeholder="Apellido"
                value="<%= locals.oldData ? oldData.apellido : null %>"
            />
            <% if (locals.errors && errors.apellido) { %>
            <div class="errorTxt"><%= errors.apellido.msg %></div>
            <% } %>
        </div>
        <div class="correcionCajasForm">
            <label for="nombreUsuario"></label>
            <input
                class="cajaRegisterInput <%= locals.errors && errors.nombreUsuario ? 'errorBorder' : null %>"
                type="text"
                name="nombreUsuario"
                placeholder="Nombre de Usuario"
                value="<%= locals.oldData ? oldData.nombreUsuario : null %>"
            />
            <% if (locals.errors && errors.nombreUsuario) { %>
            <div class="errorTxt"><%= errors.nombreUsuario.msg %></div>
          <% } %>
        </div>
        <div class="correcionCajasForm">
            <label for="email"></label>
            <input
                class="cajaRegisterInput <%= locals.errors && errors.email ? 'errorBorder' : null %>"
                type="email"
                name="email"
                placeholder="E-mail"
                value="<%= locals.oldData ? oldData.email : null %>"
            />
            <% if (locals.errors && errors.email) { %>
            <div class="errorTxt"><%= errors.email.msg %></div>
            <% } %>
        </div>
        <div class="correcionCajasForm">
            <label for="contrasenia"></label>
            <input
                class="cajaRegisterInput <%= locals.errors && errors.contrasenia ? 'errorBorder' : null %>"
                type="password"
                name="contrasenia"
                placeholder="Contraseña"
            />
            <% if (locals.errors && errors.contrasenia) { %>
            <div class="errorTxt"><%= errors.contrasenia.msg %></div>
            <% } %>
        </div>
        <div class="correcionCajasForm">
            <label for="pais"></label>
            <input
                class="cajaRegisterInput <%= locals.errors && errors.pais ? 'errorBorder' : null %>"
                type="text"
                name="pais"
                placeholder="Pais en el que resides"
                value="<%= locals.oldData ? oldData.pais : null %>"
            />
            <% if (locals.errors && errors.pais) { %>
            <div class="errorTxt"><%= errors.pais.msg %></div>
            <% } %>
        </div>
        <div class="correcionCajasForm">
            <label class="tituloRegisterCaja" for="genero">Gusto Favorito</label>
            <select
                class="opcionesRegister <%= locals.errors && errors.gustoFavorito ? 'errorBorder' : null %>"
                name="gustoFavorito"
            >
                <option value="">Seleccione</option>
                <option value="1" <%= locals.oldData && oldData.gustoFavorito == "1" ?'selected' : null %> >Rock</option>
                <option value="2" <%= locals.oldData && oldData.gustoFavorito == "2" ?'selected' : null %> >Hard Rock</option>
                <option value="3" <%= locals.oldData && oldData.gustoFavorito == "3" ?'selected' : null %>>Pop</option>
                <option value="4" <%= locals.oldData && oldData.gustoFavorito == "4" ? 'selected' : null %>>Rock Alternativo</option>
                <option value="5" <%= locals.oldData && oldData.gustoFavorito == "5" ? 'selected' : null %>>Pop Rock</option>
                <option value="6" <%= locals.oldData && oldData.gustoFavorito == "6" ? 'selected' : null %>>Pop Punk</option>
            </select>
            <% if (locals.errors && errors.gustoFavorito) { %>
                <div class="errorTxt"><%= errors.gustoFavorito.msg %></div>
                <% } %>
        </div>
        <br>
        <div class="correcionCajasForm">
            <label class="tituloRegisterCaja" for="genero">Gustos</label>
            <label><input type="checkbox" name="gustosUsuario" value="1" <%= locals.oldData && oldData.gustosUsuario =='1' ? 'checked' : null %> >Rock</label>
            <label><input type="checkbox" name="gustosUsuario" value="2" <%= locals.oldData && oldData.gustosUsuario =='2' ? 'checked' : null %> >Hard-Rock</label>
            <label><input type="checkbox" name="gustosUsuario" value="3" <%= locals.oldData && oldData.gustosUsuario =='3' ? 'checked' : null %> >Pop</label>
            <label><input type="checkbox" name="gustosUsuario" value="4" <%= locals.oldData && oldData.gustosUsuario =='4' ? 'checked' : null %> >Rock-Alternativo</label>
            <label><input type="checkbox" name="gustosUsuario" value="5" <%= locals.oldData && oldData.gustosUsuario =='5' ? 'checked' : null %> >Pop-Rock</label>
            <label><input type="checkbox" name="gustosUsuario" value="6" <%= locals.oldData && oldData.gustosUsuario =='6' ? 'checked' : null %> >Pop-Punk</label>
            <% if (locals.errors && errors.gustosUsuario) { %>
              <div class="errorTxt"><%= errors.gustosUsuario.msg %></div>
            <% } %>
          </div>
          <br>
        <div class="correcionCajasForm">
            <label class="tituloRegisterCaja" for="genero"></label>
            <select
                class="opcionesRegister <%= locals.errors && errors.genero ? 'errorBorder' : null %>"
                name="genero"
            >
                <option value="">Seleccione su genero</option>
                <option value="masculino" <%= locals.oldData && oldData.genero  == "masculino" ?'selected' : null %> >Masculino</option>
                <option value="femenino" <%= locals.oldData && oldData.genero  == "femenino" ?'selected' : null %>>Femenino</option>
                <option value="otros" <%= locals.oldData && oldData.genero == "otro" ? 'selected' : null %>>Otros</option>
            </select>
            <% if (locals.errors && errors.genero) { %>
            <div class="errorTxt"><%= errors.genero.msg %></div>
            <% } %>
        </div>
        <div class="correcionCajasForm">
            <br>
            <label for="infoUsuario" class="tituloRegisterCaja">Cuentanos sobre ti</label>
            <textarea
                class="textAreaRegister <%= locals.errors && errors.infoUsuario ? 'errorBorder' : null %>"
                name="infoUsuario"
                ><%= locals.oldData ? oldData.infoUsuario  : null %></textarea>
            <% if (locals.errors && errors.infoUsuario) { %>
            <div class="errorTxt"><%= errors.infoUsuario.msg %></div>
            <% } %>
        </div>
        <div class="cajaAdmin">
            <label for="ImgEvento">
                <div class="label">Seleccione una foto de Perfil</div>
                <div>
                <input
                    class="imagenPerfilRegister <%= locals.errors && errors.imagen ? 'errorBorder' : null %>"
                    type="file"
                    name="imagen"
                    required
                />
                </div>
                <% if (locals.errors && errors.imagen) { %>
                <div class="errorTxt"><%= errors.imagen.msg %></div>
                <% } %>
            </label>
        </div>
        <div class="cajaSendRegister">
            <% console.log(locals.oldData) %> 
          <button class="botonSumit" type="submit">Enviar</button>
        </div>
      </form>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
