<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <div class="divParaGradiant"></div>
    <main class="mainRegister">
        <form class="form-box" id="myForm"
        onsubmit='return validateForm()' 
        action="/usuario/register" 
        method="POST" 
        enctype="multipart/form-data"
        >
        <h1 class="form-title">Registro</h1>
        <div class="errorTxt"></div>
        <div class="correcionCajasForm">
            <label for="nombre"></label>
            <input 
                class="cajaRegisterInput <%= locals.errors && errors.nombre ? 'errorBorder' : null %>" 
                type="text" id="nombre" 
                name="nombre" 
                placeholder="Nombre" 
                value="<%= locals.oldData ? oldData.nombre : null %>"/>
            <% if (locals.errors && errors.nombre) { %>
            <div class="errorTxt"><%= errors.nombre.msg %></div>
            <% } %>
        </div>
        <div class="correcionCajasForm">
            <label for="apellido"></label>
            <input
                class="cajaRegisterInput <%= locals.errors && errors.apellido ? 'errorBorder' : null %>"
                type="text"
                name="apellido"
                placeholder="Apellido"
                value="<%= locals.oldData ? oldData.apellido : null %>"
            />
            <% if (locals.errors && errors.apellido) { %>
            <div class="errorTxt"><%= errors.apellido.msg %></div>
            <% } %>
        </div>
        <div class="correcionCajasForm">
            <label for="nombre_usuario"></label>
            <input
                class="cajaRegisterInput <%= locals.errors && errors.nombre_usuario ? 'errorBorder' : null %>"
                type="text"
                name="nombre_usuario"
                placeholder="Nombre de Usuario"
                value="<%= locals.oldData ? oldData.nombre_usuario : null %>"
            />
            <% if (locals.errors && errors.nombre_usuario) { %>
            <div class="errorTxt"><%= errors.nombre_usuario.msg %></div>
          <% } %>
        </div>
        <div class="correcionCajasForm">
            <label for="email"></label>
            <input
                class="cajaRegisterInput <%= locals.errors && errors.email ? 'errorBorder' : null %>"
                type="email"
                name="email"
                placeholder="E-mail"
                value="<%= locals.oldData ? oldData.email : null %>"
            />
            <% if (locals.errors && errors.email) { %>
            <div class="errorTxt"><%= errors.email.msg %></div>
            <% } %>
        </div>
        <div class="correcionCajasForm">
            <label for="contrasenia"></label>
            <input
                class="cajaRegisterInput <%= locals.errors && errors.contrasenia ? 'errorBorder' : null %>"
                type="password"
                name="contrasenia"
                placeholder="Contraseña"
            />
            <% if (locals.errors && errors.contrasenia) { %>
            <div class="errorTxt"><%= errors.contrasenia.msg %></div>
            <% } %>
        </div>
        <div class="correcionCajasForm">
            <label for="pais"></label>
            <input
                class="cajaRegisterInput <%= locals.errors && errors.pais ? 'errorBorder' : null %>"
                type="text"
                name="pais"
                placeholder="Pais en el que resides"
                value="<%= locals.oldData ? oldData.pais : null %>"
            />
            <% if (locals.errors && errors.pais) { %>
            <div class="errorTxt"><%= errors.pais.msg %></div>
            <% } %>
        </div>
        <div class="correcionCajasForm">
            <label class="tituloRegisterCaja" for="genero_id_favorito">Gusto Favorito</label>
            <select
                class="opcionesRegister <%= locals.errors && errors.genero_id_favorito ? 'errorBorder' : null %>"
                name="genero_id_favorito"
            >
                <option value="">Seleccione</option>
                <option value="1" <%= locals.oldData && oldData.genero_id_favorito == "1" ?'selected' : null %> >Rock</option>
                <option value="2" <%= locals.oldData && oldData.genero_id_favorito == "2" ?'selected' : null %> >Hard Rock</option>
                <option value="3" <%= locals.oldData && oldData.genero_id_favorito == "3" ?'selected' : null %>>Pop</option>
                <option value="4" <%= locals.oldData && oldData.genero_id_favorito == "4" ? 'selected' : null %>>Rock Alternativo</option>
                <option value="5" <%= locals.oldData && oldData.genero_id_favorito == "5" ? 'selected' : null %>>Pop Rock</option>
                <option value="6" <%= locals.oldData && oldData.genero_id_favorito == "6" ? 'selected' : null %>>Pop Punk</option>
            </select>
            <% if (locals.errors && errors.genero_id_favorito) { %>
                <div class="errorTxt"><%= errors.genero_id_favorito.msg %></div>
                <% } %>
        </div>
        <br>
        <div class="correcionCajasForm">
            <label class="tituloRegisterCaja" for="genero_id">Gustos</label>
            <label><input type="checkbox" name="genero_id" value="1" <%= locals.oldData && oldData.genero_id =='1' ? 'checked' : null %> >Rock</label>
            <label><input type="checkbox" name="genero_id" value="2" <%= locals.oldData && oldData.genero_id =='2' ? 'checked' : null %> >Hard-Rock</label>
            <label><input type="checkbox" name="genero_id" value="3" <%= locals.oldData && oldData.genero_id =='3' ? 'checked' : null %> >Pop</label>
            <label><input type="checkbox" name="genero_id" value="4" <%= locals.oldData && oldData.genero_id =='4' ? 'checked' : null %> >Rock-Alternativo</label>
            <label><input type="checkbox" name="genero_id" value="5" <%= locals.oldData && oldData.genero_id =='5' ? 'checked' : null %> >Pop-Rock</label>
            <label><input type="checkbox" name="genero_id" value="6" <%= locals.oldData && oldData.genero_id =='6' ? 'checked' : null %> >Pop-Punk</label>
            <div class="texAviso"></div>
            <% if (locals.errors && errors.genero_id) { %>
              <div class="errorTxt"><%= errors.genero_id.msg %></div>
            <% } %>
          </div>
          <br>
        <div class="correcionCajasForm">
            <label class="tituloRegisterCaja" for="genero"></label>
            <select
                class="opcionesRegister <%= locals.errors && errors.genero ? 'errorBorder' : null %>"
                name="genero"
            >
                <option value="">Seleccione su genero</option>
                <option value="masculino" <%= locals.oldData && oldData.genero  == "masculino" ?'selected' : null %> >Masculino</option>
                <option value="femenino" <%= locals.oldData && oldData.genero  == "femenino" ?'selected' : null %>>Femenino</option>
                <option value="otros" <%= locals.oldData && oldData.genero == "otro" ? 'selected' : null %>>Otros</option>
            </select>
            <% if (locals.errors && errors.genero) { %>
            <div class="errorTxt"><%= errors.genero.msg %></div>
            <% } %>
        </div>
        <div class="correcionCajasForm">
            <br>
            <label for="descripcion" class="tituloRegisterCaja">Cuentanos sobre ti</label>
            <textarea
                class="textAreaRegister <%= locals.errors && errors.descripcion ? 'errorBorder' : null %>"
                name="descripcion"
                ><%= locals.oldData ? oldData.descripcion  : null %></textarea>
            <% if (locals.errors && errors.descripcion) { %>
            <div class="errorTxt"><%= errors.descripcion.msg %></div>
            <% } %>
        </div>
        <div class="cajaAdmin">
            <label for="foto_perfil">
                <div class="label">Seleccione una foto de Perfil</div>
                <div>
                <input
                    class="imagenPerfilRegister <%= locals.errors && errors.foto_perfil ? 'errorBorder' : null %>"
                    type="file"
                    name="foto_perfil"
                />
                </div>
                <% if (locals.errors && errors.foto_perfil) { %>
                <div class="errorTxt"><%= errors.foto_perfil.msg %></div>
                <% } %>
            </label>
        </div>
        <div class="avisoErrorTxt"></div>
        <div class="cajaSendRegister">
          <button class="botonSumit" type="submit">Enviar</button>
        </div>
      </form>
      <script src="/js/register.js"></script>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
